<div *ngIf="currentProject$ | async as project">
  <header>
    <h2 class="section-title bold">
      <a mat-button (click)="locationBack()">
      <mat-icon>arrow_back_ios</mat-icon>
      Back</a> {{project.title}} {{sectionTitle}}
    </h2>
    <mat-divider></mat-divider>
  </header>
  <div class="flex-box">
    <mat-card class="flex-child">
      <mat-card-title-group>
        <mat-card-title>#{{project.id}} {{project.title}}</mat-card-title>
        <mat-card-subtitle>{{project.students.length}} subscribed to this Projects</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>


      </mat-card-content>
    </mat-card>

    <!--<app-student-projects class="flex-child" [projects]="student.projects"></app-student-projects>-->
  </div>
</div>
