<div *ngIf="currentProject$ | async as project">
  <header>
    <h2 class="section-title bold">
      <a mat-button (click)="locationBack()">
      <mat-icon>arrow_back_ios</mat-icon>
      Back</a> {{project.title}} {{sectionTitle}}
    </h2>
    <mat-divider></mat-divider>
  </header>
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>#{{project.id}} {{project.title}}</mat-card-title>
        <mat-card-subtitle>{{project.students.length}} students subscribed to this Projects</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <app-project-students [currentProject]="project"></app-project-students>
      </mat-card-content>
    </mat-card>
</div>
