<app-header
[showBack]="false"
[showDivider]="false"
[headerTitle]="sectionTitle"
>
    <app-excel-download></app-excel-download>
</app-header>
<div *ngIf="projectsWithStudent$ | async as projects">
  <mat-list>
    <mat-list-item *ngFor="let project of projects">
      <h3 matLine><a [routerLink]="['/projects', project.id]">#{{project.id}} {{project.title}}</a></h3>
      <p matLine>
        {{project.description}}
      </p>
      <div class="vm-50 align-right description-col">
        {{project.students.length}} Subscribers
      </div>

      <button mat-icon-button color="warn"
              (click)="openDeleteDialog(project.id)"
              [disabled]="project.students.length ? true : false"
              matTooltip="Project will be deleted permanently!"

      >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
<button id="addProjectButton" mat-button mat-fab color="warn" class="mat-fab-bottom-right" (click)="createProject()" aria-label="Add a category">
  <mat-icon>add</mat-icon>
</button>
