<div *ngIf="currentProject$ | async as project">
    <app-header [showBack]="true"
                [showDivider]="true"
                [backHome]="false"
                [headerTitle] = "project.title + ' '+ sectionTitle"
    ></app-header>
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>#{{project.id}} {{project.title}}</mat-card-title>
        <mat-card-subtitle>{{project.students.length}} students subscribed to this Projects</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <app-project-students [currentProject]="project"></app-project-students>
      </mat-card-content>
    </mat-card>
</div>
