<header>
  <h2 class="section-title " style="display: flex"><span style="flex-grow: 1; align-self: center;">{{sectionTitle}}</span><app-excel-download></app-excel-download></h2>
</header>
<div *ngIf="projectsWithStudent$ | async as projects">
  <mat-list>
    <mat-list-item *ngFor="let project of projects">
      <h3 matLine><a [routerLink]="['/projects', project.id]">#{{project.id}} {{project.title}}</a></h3>
      <p matLine>
        {{project.description}}
      </p>
      <div class="vm-50 align-right description-col">
        {{project.students.length}} Subscribers
      </div>

      <button mat-icon-button color="warn"
              (click)="openDeleteDialog(project.id)"
              [disabled]="project.students.length ? true : false"  >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
<button mat-button mat-fab color="warn" class="mat-fab-bottom-right" (click)="createProject()" aria-label="Add a category">
  <mat-icon>add</mat-icon>
</button>
