<mat-card >

  <mat-card-title-group>
    <mat-card-title>{{sectionTitle}}</mat-card-title>
    <button mat-icon-button (click)="unEngage(1)"><mat-icon>control_point</mat-icon></button>
  </mat-card-title-group>
  <mat-card-content >
    <div *ngIf="projects; else elseBlock">
      <mat-list>
        <mat-list-item *ngFor="let project of projects" >
          <h3 matLine> <a [routerLink]="['/students', project.id]">{{project.title}}</a></h3>
          <button mat-icon-button (click)="unEngage(project.id)"><mat-icon>highlight_off</mat-icon>
          </button>

        </mat-list-item>
      </mat-list>
    </div>
    <ng-template #elseBlock>
      <mat-spinner diameter="50" class="margin-2"></mat-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>

