<mat-card>
  <mat-card-title-group>
    <mat-card-title>{{sectionTitle}}</mat-card-title>
    <!--<mat-form-field *ngIf="projects$ | async as projects">-->
      <!--<mat-label>Favorite food</mat-label>-->
      <!--<mat-select id="test" formControlName="select" >-->
        <!--<mat-option *ngFor="let project of projects" [value]="project.id">-->
          <!--{{project.title}}-->
        <!--</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->
    <button mat-icon-button (click)="unEngage(1)">
      <mat-icon>control_point</mat-icon>
    </button>
  </mat-card-title-group>
  <mat-card-content>
    <div *ngIf="projects;">
      <mat-list>
        <mat-list-item *ngFor="let project of projects">
          <h3 matLine><a [routerLink]="['/students', project.id]">{{project.title}}</a></h3>
          <button mat-icon-button (click)="unEngage(project.id)">
            <mat-icon>highlight_off</mat-icon>
          </button>

        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>

